

.navbar navbar-inverse{
    background:#252527;
}
.container-fluid {    background: #252527;
}
.navbar {
  overflow: hidden;
  margin:0;
  width:100%;
  position: fixed;
  top: 0;
  font-size:17px;
  z-index:1000;

letter-spacing: 5px;
}
.nav > li
{
padding-right:7vh;
}

html, body
{
margin:0;
padding:0;
height:100%;
}
.section
{
min-height: 100vh;
height:100vh;
}
.container
{
padding-top: 100px;
font-size: 20px;
line-height: 1.8;
word-spacing: 3px;
min-height: 90hv;

}
#content{
background-image:url("img/house_log.jpg");
height: 100vh;
width: 100vw;
}
#form_content
{
padding-top:20vh;
padding-left:40vw;
}
#form_content
{
width:30wv;
}
