html { scroll-behavior: smooth; }

.navbar navbar-inverse{
    background:#252527;
}
.container-fluid {
  background: #252527;
}


.navbar {
  overflow: hidden;
  margin:0;
  width:100%;
  position: fixed;
  top: 0;
  font-size:17px;
  z-index:1000;
}

.nav > li
{
padding-right:7vh;

}

#nav-item nav-link

#about{
text-align: center;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
}

html, body
{
margin:0;
padding:0;
height:100%;
}
.section
{
min-height: 100vh;
height:100vh;
}

.decription{
height: 300px
}
.cont
{
padding-top: 100px;
font-size: 20px;
line-height: 1.8;
word-spacing: 3px;
min-height : 90hv;
overflow-y: auto;

}

.col-md-3
{
    margin-bottom: 5vh;

}
 select, input
 {
	min-width : 35vh;
	color:black;
 }