  <!DOCTYPE html>
<html>
<title>Houses prediction website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
      <a class="navbar-brand" href="#">Price Predictions</a>
</div>
<ul class="nav navbar-nav">
	<li><a href="{{ url_for('main') }}">Home</a></li>
	<li><a href="{{ url_for('main') }}#about">About us</a></li>
	<li><a href="{{ url_for('main') }}#predictions">Predictions</a></li>
	<li><a href="{{ url_for('main') }}#contact">Contact</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> For agents</a></li>
    </ul>
</div>
</nav>
	<section id="content">
		<form id="form_content" action="/check_cred" method="post">
			<h1>Login </h1>
			{% if result== 'error'%}<p style="color: #f1fff6">Login or password is incorrect.</p>
			{% endif %}

				<input type="text" placeholder="Mail" required name="mail" id="mail" />
			<p></p>
				<input type="password" placeholder="Password" required  name="password" id="password" />
			<p></p>
				<input type="submit" class="btn btn-outline-info" value="Log in"/>
				<p></p>
				<a href="{{ url_for('register_agent') }}">Don't you have an account?</a>
				<a href="{{ url_for('forgot_password') }}">Have you forgotten your password?</a>
				<a href="{{ url_for('agent_view') }}">Without login</a>
		</form><!-- form -->
		
	</section><!-- content -->

<script type="text/javascript">

</script>

</body>
</html>