<!doctype html>
<html>
<title>Houses prediction website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/agent.css') }}">
<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      #sendo
{
    margin-left: 50%;

}
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
     .row
 {
 min-height:40px;
 }










</style>
</head>
{% extends "layout.html" %}

{% block content %}
<div class="cont" id="addHouse">
    <form name="myForm" method="post" action="/add_house" role="form">
        <div class="container">
            <div class="form-group row">
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Square meters of the home</label>
                    <input required type="number" style="width: 100%; padding: .5em 1em;" name="sqm_living" min="18"
                           max="1000000">
                </div>
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Bedrooms</label>
                    <input required type="number" style="width: 100%; padding: .5em 1em;" name="bedrooms" min="0"
                           max="100">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Square meters of the lot</label>
                    <input required type="number" style="width: 100%; padding: .5em 1em;" name="sqm_lot" min="0"
                           max="10000000">
                </div>
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Bathrooms</label>
                    <input required type="number" style="width: 100%; padding: .5em 1em;" name="bathrooms" min="1"
                           max="1000">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Square meters without basement</label>
                    <input required type="number" style="width: 100%; padding: .5em 1em;" name="sqm_above" min="1"
                           max="10000000">
                </div>
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Square meters of the basement</label>
                    <input required type="number" style="width: 100%; padding: .5em 1em;" name="sqm_basement"
                           min="0"
                           max="1000000">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Built year</label>
                    <select style="width: 100%; padding: .5em 1em;" name="yr_built">
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                        <option value="1969">1969</option>
                        <option value="1968">1968</option>
                        <option value="1967">1967</option>
                        <option value="1966">1966</option>
                        <option value="1965">1965</option>
                        <option value="1964">1964</option>
                        <option value="1963">1963</option>
                        <option value="1962">1962</option>
                        <option value="1961">1961</option>
                        <option value="1960">1960</option>
                        <option value="1959">1959</option>
                        <option value="1958">1958</option>
                        <option value="1957">1957</option>
                        <option value="1956">1956</option>
                        <option value="1955">1955</option>
                        <option value="1954">1954</option>
                        <option value="1953">1953</option>
                        <option value="1952">1952</option>
                        <option value="1951">1951</option>
                        <option value="1950">1950</option>
                        <option value="1949">1949</option>
                        <option value="1948">1948</option>
                        <option value="1947">1947</option>
                        <option value="1946">1946</option>
                        <option value="1945">1945</option>
                        <option value="1944">1944</option>
                        <option value="1943">1943</option>
                        <option value="1942">1942</option>
                        <option value="1941">1941</option>
                        <option value="1940">1940</option>
                        <option value="1939">1939</option>
                        <option value="1938">1938</option>
                        <option value="1937">1937</option>
                        <option value="1936">1936</option>
                        <option value="1935">1935</option>
                        <option value="1934">1934</option>
                        <option value="1933">1933</option>
                        <option value="1932">1932</option>
                        <option value="1931">1931</option>
                        <option value="1930">1930</option>
                        <option value="1929">1929</option>
                        <option value="1928">1928</option>
                        <option value="1927">1927</option>
                        <option value="1926">1926</option>
                        <option value="1925">1925</option>
                        <option value="1924">1924</option>
                        <option value="1923">1923</option>
                        <option value="1922">1922</option>
                        <option value="1921">1921</option>
                        <option value="1920">1920</option>
                        <option value="1919">1919</option>
                        <option value="1918">1918</option>
                        <option value="1917">1917</option>
                        <option value="1916">1916</option>
                        <option value="1915">1915</option>
                        <option value="1914">1914</option>
                        <option value="1913">1913</option>
                        <option value="1912">1912</option>
                        <option value="1911">1911</option>
                        <option value="1910">1910</option>
                        <option value="1909">1909</option>
                        <option value="1908">1908</option>
                        <option value="1907">1907</option>
                        <option value="1906">1906</option>
                        <option value="1905">1905</option>
                        <option value="1904">1904</option>
                        <option value="1903">1903</option>
                        <option value="1902">1902</option>
                        <option value="1901">1901</option>
                        <option value="1900">1900</option>
                        <option value="1899">1899</option>
                        <option value="1898">1898</option>
                        <option value="1897">1897</option>
                        <option value="1896">1896</option>
                        <option value="1895">1895</option>
                        <option value="1894">1894</option>
                        <option value="1893">1893</option>
                        <option value="1892">1892</option>
                        <option value="1891">1891</option>
                        <option value="1890">1890</option>
                        <option value="1889">1889</option>
                        <option value="1888">1888</option>
                        <option value="1887">1887</option>
                        <option value="1886">1886</option>
                        <option value="1885">1885</option>
                        <option value="1884">1884</option>
                        <option value="1883">1883</option>
                        <option value="1882">1882</option>
                        <option value="1881">1881</option>
                        <option value="1880">1880</option>
                        <option value="1879">1879</option>
                        <option value="1878">1878</option>
                        <option value="1877">1877</option>
                        <option value="1876">1876</option>
                        <option value="1875">1875</option>
                        <option value="1874">1874</option>
                        <option value="1873">1873</option>
                        <option value="1872">1872</option>
                        <option value="1871">1871</option>
                        <option value="1870">1870</option>
                        <option value="1869">1869</option>
                        <option value="1868">1868</option>
                        <option value="1867">1867</option>
                        <option value="1866">1866</option>
                        <option value="1865">1865</option>
                        <option value="1864">1864</option>
                        <option value="1863">1863</option>
                        <option value="1862">1862</option>
                        <option value="1861">1861</option>
                        <option value="1860">1860</option>
                        <option value="1859">1859</option>
                        <option value="1858">1858</option>
                        <option value="1857">1857</option>
                        <option value="1856">1856</option>
                        <option value="1855">1855</option>
                        <option value="1854">1854</option>
                        <option value="1853">1853</option>
                        <option value="1852">1852</option>
                        <option value="1851">1851</option>
                        <option value="1850">1850</option>
                        <option value="1849">1849</option>
                        <option value="1848">1848</option>
                        <option value="1847">1847</option>
                        <option value="1846">1846</option>
                        <option value="1845">1845</option>
                        <option value="1844">1844</option>
                        <option value="1843">1843</option>
                        <option value="1842">1842</option>
                        <option value="1841">1841</option>
                        <option value="1840">1840</option>
                        <option value="1839">1839</option>
                        <option value="1838">1838</option>
                        <option value="1837">1837</option>
                        <option value="1836">1836</option>
                        <option value="1835">1835</option>
                        <option value="1834">1834</option>
                        <option value="1833">1833</option>
                        <option value="1832">1832</option>
                        <option value="1831">1831</option>
                        <option value="1830">1830</option>
                        <option value="1829">1829</option>
                        <option value="1828">1828</option>
                        <option value="1827">1827</option>
                        <option value="1826">1826</option>
                        <option value="1825">1825</option>
                        <option value="1824">1824</option>
                        <option value="1823">1823</option>
                        <option value="1822">1822</option>
                        <option value="1821">1821</option>
                        <option value="1820">1820</option>
                        <option value="1819">1819</option>
                        <option value="1818">1818</option>
                        <option value="1817">1817</option>
                        <option value="1816">1816</option>
                        <option value="1815">1815</option>
                        <option value="1814">1814</option>
                        <option value="1813">1813</option>
                        <option value="1812">1812</option>
                        <option value="1811">1811</option>
                        <option value="1810">1810</option>
                        <option value="1809">1809</option>
                        <option value="1808">1808</option>
                        <option value="1807">1807</option>
                        <option value="1806">1806</option>
                        <option value="1805">1805</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Renovation year</label>
                    <select style="width: 100%; padding: .5em 1em;" name="yr_renovated">
                        <option value="0">never</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                        <option value="1969">1969</option>
                        <option value="1968">1968</option>
                        <option value="1967">1967</option>
                        <option value="1966">1966</option>
                        <option value="1965">1965</option>
                        <option value="1964">1964</option>
                        <option value="1963">1963</option>
                        <option value="1962">1962</option>
                        <option value="1961">1961</option>
                        <option value="1960">1960</option>
                        <option value="1959">1959</option>
                        <option value="1958">1958</option>
                        <option value="1957">1957</option>
                        <option value="1956">1956</option>
                        <option value="1955">1955</option>
                        <option value="1954">1954</option>
                        <option value="1953">1953</option>
                        <option value="1952">1952</option>
                        <option value="1951">1951</option>
                        <option value="1950">1950</option>
                        <option value="1949">1949</option>
                        <option value="1948">1948</option>
                        <option value="1947">1947</option>
                        <option value="1946">1946</option>
                        <option value="1945">1945</option>
                        <option value="1944">1944</option>
                        <option value="1943">1943</option>
                        <option value="1942">1942</option>
                        <option value="1941">1941</option>
                        <option value="1940">1940</option>
                        <option value="1939">1939</option>
                        <option value="1938">1938</option>
                        <option value="1937">1937</option>
                        <option value="1936">1936</option>
                        <option value="1935">1935</option>
                        <option value="1934">1934</option>
                        <option value="1933">1933</option>
                        <option value="1932">1932</option>
                        <option value="1931">1931</option>
                        <option value="1930">1930</option>
                        <option value="1929">1929</option>
                        <option value="1928">1928</option>
                        <option value="1927">1927</option>
                        <option value="1926">1926</option>
                        <option value="1925">1925</option>
                        <option value="1924">1924</option>
                        <option value="1923">1923</option>
                        <option value="1922">1922</option>
                        <option value="1921">1921</option>
                        <option value="1920">1920</option>
                        <option value="1919">1919</option>
                        <option value="1918">1918</option>
                        <option value="1917">1917</option>
                        <option value="1916">1916</option>
                        <option value="1915">1915</option>
                        <option value="1914">1914</option>
                        <option value="1913">1913</option>
                        <option value="1912">1912</option>
                        <option value="1911">1911</option>
                        <option value="1910">1910</option>
                        <option value="1909">1909</option>
                        <option value="1908">1908</option>
                        <option value="1907">1907</option>
                        <option value="1906">1906</option>
                        <option value="1905">1905</option>
                        <option value="1904">1904</option>
                        <option value="1903">1903</option>
                        <option value="1902">1902</option>
                        <option value="1901">1901</option>
                        <option value="1900">1900</option>
                        <option value="1899">1899</option>
                        <option value="1898">1898</option>
                        <option value="1897">1897</option>
                        <option value="1896">1896</option>
                        <option value="1895">1895</option>
                        <option value="1894">1894</option>
                        <option value="1893">1893</option>
                        <option value="1892">1892</option>
                        <option value="1891">1891</option>
                        <option value="1890">1890</option>
                        <option value="1889">1889</option>
                        <option value="1888">1888</option>
                        <option value="1887">1887</option>
                        <option value="1886">1886</option>
                        <option value="1885">1885</option>
                        <option value="1884">1884</option>
                        <option value="1883">1883</option>
                        <option value="1882">1882</option>
                        <option value="1881">1881</option>
                        <option value="1880">1880</option>
                        <option value="1879">1879</option>
                        <option value="1878">1878</option>
                        <option value="1877">1877</option>
                        <option value="1876">1876</option>
                        <option value="1875">1875</option>
                        <option value="1874">1874</option>
                        <option value="1873">1873</option>
                        <option value="1872">1872</option>
                        <option value="1871">1871</option>
                        <option value="1870">1870</option>
                        <option value="1869">1869</option>
                        <option value="1868">1868</option>
                        <option value="1867">1867</option>
                        <option value="1866">1866</option>
                        <option value="1865">1865</option>
                        <option value="1864">1864</option>
                        <option value="1863">1863</option>
                        <option value="1862">1862</option>
                        <option value="1861">1861</option>
                        <option value="1860">1860</option>
                        <option value="1859">1859</option>
                        <option value="1858">1858</option>
                        <option value="1857">1857</option>
                        <option value="1856">1856</option>
                        <option value="1855">1855</option>
                        <option value="1854">1854</option>
                        <option value="1853">1853</option>
                        <option value="1852">1852</option>
                        <option value="1851">1851</option>
                        <option value="1850">1850</option>
                        <option value="1849">1849</option>
                        <option value="1848">1848</option>
                        <option value="1847">1847</option>
                        <option value="1846">1846</option>
                        <option value="1845">1845</option>
                        <option value="1844">1844</option>
                        <option value="1843">1843</option>
                        <option value="1842">1842</option>
                        <option value="1841">1841</option>
                        <option value="1840">1840</option>
                        <option value="1839">1839</option>
                        <option value="1838">1838</option>
                        <option value="1837">1837</option>
                        <option value="1836">1836</option>
                        <option value="1835">1835</option>
                        <option value="1834">1834</option>
                        <option value="1833">1833</option>
                        <option value="1832">1832</option>
                        <option value="1831">1831</option>
                        <option value="1830">1830</option>
                        <option value="1829">1829</option>
                        <option value="1828">1828</option>
                        <option value="1827">1827</option>
                        <option value="1826">1826</option>
                        <option value="1825">1825</option>
                        <option value="1824">1824</option>
                        <option value="1823">1823</option>
                        <option value="1822">1822</option>
                        <option value="1821">1821</option>
                        <option value="1820">1820</option>
                        <option value="1819">1819</option>
                        <option value="1818">1818</option>
                        <option value="1817">1817</option>
                        <option value="1816">1816</option>
                        <option value="1815">1815</option>
                        <option value="1814">1814</option>
                        <option value="1813">1813</option>
                        <option value="1812">1812</option>
                        <option value="1811">1811</option>
                        <option value="1810">1810</option>
                        <option value="1809">1809</option>
                        <option value="1808">1808</option>
                        <option value="1807">1807</option>
                        <option value="1806">1806</option>
                        <option value="1805">1805</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Floors</label>
                    <span id="rs-bullet-floor" class="rs-label">0</span>
                    <input required id="rs-range-line-floor" style="width:100%; padding: .5em 1em;" name="floors"
                           type="range" value=1 min=0 max=10>
                </div>
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Grade(King County grading system)</label>
                    <span id="rs-bullet-grade" class="rs-label">1</span>
                    <input required id="rs-range-line-grade" style="width:100%; padding: .5em 1em;" name="grade"
                           type="range" value=1 min=1 max=10>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Overall condition</label>
                    <span id="rs-bullet-condition" class="rs-label">1</span>
                    <input required id="rs-range-line-condition" style="width:100%; padding: .5em 1em;" name="condition"
                           type="range" value=1 min=1 max=10>
                </div>
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Sale date</label>
                    <input style="width: 100%; padding: .5em 1em;" name='date' type="date" id="date"/>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <input hidden type="text" id="long" step="any" name="long"/>
                </div>
                <div class="col-md-6">
                    <input hidden type="text" id="lat" step="any" name="lat"/>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Zipcode</label>
                    <select style="width: 100%; padding: .5em 1em;" name="zipcode" id="zipcode"/>
                </div>
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Price</label>
                    <input style="width: 100%; padding: .5em 1em;" required type="number" name="price" min="0" max="10000000000">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label style="width: 100%; padding: .5em 1em;">Address</label>
                    <input type="text" style="width:100%; padding: .5em 1em;" id="address">
                </div>
                <p></p>
                <div class="col-md-6">
                    <button type="button" style="width:100%; padding: .5em 1em;" onclick="confirmAddress()" id="sendo"
                            class="btn btn-info ">
                        Find address
                    </button>
                    <input value="Submit" type="submit" style="width:100%; padding: .5em 1em;" id="sendInfo"
                           class="btn btn-secondary btn-lg"
                           style="color:black"/>
                </div>
            </div>

            <div class="col">
                <div id="map" style=" width:300px; height:300px; background: grey"/>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="UTF-8"></script>
<script>


var zipcodes = [
98001,
98002,
98003,
98004,
98005,
98006,
98007,
98008,
98009,
98010,
98011,
98012,
98013,
98014,
98015,
98019,
98020,
98021,
98022,
98023,
98024,
98025,
98026,
98027,
98028,
98029,
98030,
98031,
98032,
98033,
98034,
98035,
98036,
98037,
98038,
98039,
98040,
98041,
98042,
98043,
98045,
98046,
98047,
98050,
98051,
98052,
98053,
98054,
98055,
98056,
98057,
98058,
98059,
98061,
98062,
98063,
98064,
98065,
98068,
98070,
98071,
98072,
98073,
98074,
98075,
98077,
98082,
98083,
98087,
98089,
98092,
98093,
98101,
98102,
98103,
98104,
98105,
98106,
98107,
98108,
98109,
98110,
98111,
98112,
98113,
98114,
98115,
98116,
98117,
98118,
98119,
98121,
98122,
98124,
98125,
98126,
98127,
98129,
98131,
98132,
98133,
98134,
98136,
98138,
98139,
98141,
98144,
98145,
98146,
98148,
98151,
98154,
98155,
98158,
98160,
98161,
98164,
98165,
98166,
98168,
98170,
98171,
98174,
98175,
98177,
98178,
98181,
98184,
98185,
98188,
98190,
98191,
98194,
98195,
98198,
98199,
98201,
98203,
98204,
98205,
98206,
98207,
98208,
98213,
98220,
98221,
98222,
98223,
98224,
98225,
98226,
98227,
98228,
98229,
98230,
98231,
98232,
98233,
98235,
98236,
98237,
98238,
98239,
98240,
98241,
98243,
98244,
98245,
98247,
98248,
98249,
98250,
98251,
98252,
98253,
98255,
98256,
98257,
98258,
98259,
98260,
98261,
98262,
98263,
98264,
98266,
98267,
98270,
98271,
98272,
98273,
98274,
98275,
98276,
98277,
98278,
98279,
98280,
98281,
98282,
98283,
98284,
98286,
98287,
98288,
98290,
98291,
98292,
98293,
98294,
98295,
98296,
98297,
98303,
98304,
98305,
98310,
98311,
98312,
98314,
98315,
98320,
98321,
98322,
98323,
98324,
98325,
98326,
98327,
98328,
98329,
98330,
98331,
98332,
98333,
98335,
98336,
98337,
98338,
98339,
98340,
98342,
98343,
98344,
98345,
98346,
98348,
98349,
98350,
98351,
98352,
98353,
98354,
98355,
98356,
98357,
98358,
98359,
98360,
98361,
98362,
98363,
98364,
98365,
98366,
98367,
98368,
98370,
98371,
98372,
98373,
98374,
98375,
98376,
98377,
98378,
98380,
98381,
98382,
98383,
98384,
98385,
98386,
98387,
98388,
98390,
98391,
98392,
98393,
98394,
98395,
98396,
98397,
98398,
98401,
98402,
98403,
98404,
98405,
98406,
98407,
98408,
98409,
98411,
98412,
98413,
98415,
98416,
98417,
98418,
98419,
98421,
98422,
98424,
98430,
98431,
98433,
98438,
98439,
98442,
98443,
98444,
98445,
98446,
98447,
98448,
98450,
98455,
98460,
98464,
98465,
98466,
98467,
98471,
98477,
98481,
98490,
98492,
98493,
98496,
98497,
98498,
98499,
98501,
98502,
98503,
98504,
98505,
98506,
98507,
98508,
98509,
98511,
98512,
98513,
98516,
98520,
98522,
98524,
98526,
98527,
98528,
98530,
98531,
98532,
98533,
98535,
98536,
98537,
98538,
98539,
98540,
98541,
98542,
98544,
98546,
98547,
98548,
98550,
98552,
98554,
98555,
98556,
98557,
98558,
98559,
98560,
98561,
98562,
98563,
98564,
98565,
98566,
98568,
98569,
98570,
98571,
98572,
98575,
98576,
98577,
98579,
98580,
98581,
98582,
98583,
98584,
98585,
98586,
98587,
98588,
98589,
98590,
98591,
98592,
98593,
98595,
98596,
98597,
98599,
98601,
98602,
98603,
98604,
98605,
98606,
98607,
98609,
98610,
98611,
98612,
98613,
98614,
98616,
98617,
98619,
98620,
98621,
98622,
98623,
98624,
98625,
98626,
98628,
98629,
98631,
98632,
98635,
98637,
98638,
98639,
98640,
98641,
98642,
98643,
98644,
98645,
98647,
98648,
98649,
98650,
98651,
98660,
98661,
98662,
98663,
98664,
98665,
98666,
98667,
98668,
98670,
98671,
98672,
98673,
98674,
98675,
98682,
98683,
98684,
98685,
98686,
98687,
98801,
98802,
98807,
98811,
98812,
98813,
98814,
98815,
98816,
98817,
98819,
98821,
98822,
98823,
98824,
98826,
98827,
98828,
98829,
98830,
98831,
98832,
98833,
98834,
98836,
98837,
98840,
98841,
98843,
98844,
98845,
98846,
98847,
98848,
98849,
98850,
98851,
98852,
98853,
98855,
98856,
98857,
98858,
98859,
98860,
98862,
98901,
98902,
98903,
98904,
98907,
98908,
98909,
98920,
98921,
98922,
98923,
98925,
98926,
98929,
98930,
98932,
98933,
98934,
98935,
98936,
98937,
98938,
98939,
98940,
98941,
98942,
98943,
98944,
98946,
98947,
98948,
98950,
98951,
98952,
98953,
99001,
99003,
99004,
99005,
99006,
99008,
99009,
99011,
99012,
99013,
99014,
99016,
99017,
99018,
99019,
99020,
99021,
99022,
99023,
99025,
99026,
99027,
99029,
99030,
99031,
99032,
99033,
99034,
99036,
99037,
99039,
99040,
99101,
99102,
99103,
99104,
99105,
99107,
99109,
99110,
99111,
99113,
99114,
99115,
99116,
99117,
99118,
99119,
99121,
99122,
99123,
99124,
99125,
99126,
99128,
99129,
99130,
99131,
99133,
99134,
99135,
99136,
99137,
99138,
99139,
99140,
99141,
99143,
99144,
99146,
99147,
99148,
99149,
99150,
99151,
99152,
99153,
99154,
99155,
99156,
99157,
99158,
99159,
99160,
99161,
99163,
99164,
99165,
99166,
99167,
99169,
99170,
99171,
99173,
99174,
99176,
99179,
99180,
99181,
99185,
99201,
99202,
99203,
99204,
99205,
99206,
99207,
99208,
99209,
99210,
99211,
99212,
99213,
99214,
99215,
99216,
99217,
99218,
99219,
99220,
99223,
99224,
99228,
99251,
99252,
99256,
99258,
99260,
99299,
99301,
99302,
99320,
99321,
99322,
99323,
99324,
99326,
99328,
99329,
99330,
99333,
99335,
99336,
99337,
99338,
99341,
99343,
99344,
99345,
99346,
99347,
99348,
99349,
99350,
99352,
99353,
99354,
99356,
99357,
99359,
99360,
99361,
99362,
99363,
99371,
99401,
99402,
99403
];


function addInput(selectID, options) {
    select = document.getElementById(selectID);
    for (var i = 0; i < options.length; i++) {
        var opt = document.createElement('option');
        opt.value = options[i];
        opt.innerHTML = options[i];
        select.add(opt);
    }
}


addInput("zipcode", zipcodes)
$('#predictedPrice').hide();


function confirmAddress() {
geocode(platform)
}
function set_coordinates(x, y ) {
  $("#long").val(x);
  $('#lat').val(y)
}



function geocode(platform) {
    var address =  $("#address").val()
  var geocoder = platform.getGeocodingService(),
    geocodingParameters = {
      searchText: address,
      jsonattributes : 1
    };

  geocoder.geocode(
    geocodingParameters,
    onSuccess,
    onError
  );
}
function onSuccess(result) {
    console.log(result);
  var locations = result.response.view[0].result;

  addLocationsToMap(locations);
  // ... etc.
}

/**
 * This function will be called if a communication error occurs during the JSON-P request
 * @param  {Object} error  The error message received.
 */
function onError(error) {
  alert('Ooops!');
}


function addDraggableMarker(map, behavior, lat, lng){

  var marker = new H.map.Marker({lat:lat, lng:lng});
  // Ensure that the marker can receive drag events
  marker.draggable = true;
  map.addObject(marker);

  // disable the default draggability of the underlying map
  // when starting to drag a marker object:
  map.addEventListener('dragstart', function(ev) {
    var target = ev.target;
    if (target instanceof H.map.Marker) {
      behavior.disable();
    }
  }, false);


  // re-enable the default draggability of the underlying map
  // when dragging has completed
  map.addEventListener('dragend', function(ev) {
    var target = ev.target;
    if (target instanceof mapsjs.map.Marker) {
        behavior.enable();
        var coord = map.screenToGeo(ev.currentPointer.viewportX,
            ev.currentPointer.viewportY);
        set_coordinates(coord.lng, coord.lat);
loadDoc(coord.lng, coord.lat);


    }}, false);

  // Listen to the drag event and move the position of the marker
  // as necessary
   map.addEventListener('drag', function(ev) {
    var target = ev.target,
        pointer = ev.currentPointer;
    if (target instanceof mapsjs.map.Marker) {
      target.setPosition(map.screenToGeo(pointer.viewportX, pointer.viewportY));

    }
  }, false);
}



/**
 * Boilerplate map initialization code starts below:
 */

//Step 1: initialize communication with the platform
var platform = new H.service.Platform({
    'app_id': 'PWafOeMEykYIIGcoYB5V',
  'app_code': 'XRoNL4BRhvz80DDJynyhwg',
      'useHTTPS': true

});
var pixelRatio = window.devicePixelRatio || 1;
var defaultLayers = platform.createDefaultLayers({
  tileSize: pixelRatio === 1 ? 256 : 512,
  ppi: pixelRatio === 1 ? undefined : 320
});

//Step 2: initialize a map - this map is centered over Boston
var map = new H.Map(document.getElementById('map'),
  defaultLayers.normal.map,{
  center: {lat:47.5, lng:-122.2},
  zoom: 12,
  pixelRatio: pixelRatio
});

//Step 3: make the map interactive
// MapEvents enables the event system
// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

// Step 4: Create the default UI:
var ui = H.ui.UI.createDefault(map, defaultLayers, 'en-US');

// Add the click event listener.
function addLocationsToMap(locations){
  var group = new  H.map.Group(),
    i;
    var x= locations.length-1
  // Add a marker for each location found

      set_coordinates(locations[x].location.displayPosition.longitude, locations[x].location.displayPosition.latitude);

      var marker3 = addDraggableMarker(map, behavior,locations[x].location.displayPosition.latitude, locations[x].location.displayPosition.longitude);

      map.setCenter({lat:locations[x].location.displayPosition.latitude, lng:locations[x].location.displayPosition.longitude});
    group.addObject(marker3);


  group.addEventListener('tap', function (evt) {
    map.setCenter(evt.target.getPosition());
    openBubble(
       evt.target.getPosition(), evt.target.label);
  }, false);

  // Add the locations group to the map
  map.addObject(group);
  map.setCenter(group.getBounds().getCenter());
}


function addLocationsToAddress(locations){
 $("address").val(locations);

}
function loadDoc(x,y) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
          var data = JSON.parse(this.response)
      console.log(this.responseText);
      console.log(data);

        $("#address").val(data.Response.View[0].Result[0].Location.Address.Label)
      console.log(this.responseText);
    }
  };
  xhttp.open("GET", "https://reverse.geocoder.api.here.com/6.2/reversegeocode.json?prox="+y+","+x+"&mode=retrieveAddresses&maxresults=1&gen=9&app_id=PWafOeMEykYIIGcoYB5V&app_code=XRoNL4BRhvz80DDJynyhwg", true);
  xhttp.send();}


// Now use the map as required...
addDraggableMarker(map, behavior, 47.5, -122.2);
geocode(platform);









</script>
<script src="{{ url_for('static', filename='js/sliders.js')}}"></script>
{% endblock %}
</html>