<!DOCTYPE html>
<html>
<title>Houses prediction website</title>
<meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.png') }}" />

<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="{{ url_for('main') }}" class="navbar-brand">
        <img src="{{ url_for('static', filename='img/logo.png') }}" height="28" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('main') }}">Home </a>
        <a class="nav-item nav-link" href="{{ url_for('main') }}#about">About</a>
        <a class="nav-item nav-link" href="{{ url_for('main') }}#predictions">Predictions</a>
        <a class="nav-item nav-link" href="{{ url_for('main') }}#contact">Contact</a>

        </div>
        <div class="navbar-nav ml-auto">
      <li class="nav-item nav-link"><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> For agents</a></li>
        </div>
    </div>
</nav>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body></html>