<!DOCTYPE html>
<html>
<title>Houses prediction website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


{% extends "layout.html" %}
{% block content %}
<section>
    <div class="container">
        <h2 class="text-center">Login</h2>
        <form action="/login" id='login_form' method="post">
            <p class="text-info">{{result}}</p>

            <div class="form-group">
                <small class="text-muted">Email</small>
                <input type="email" class="form-control" id="mail" placeholder="Enter email..." required name="email">
            </div>


            <div class="form-group">
                <small class="text-muted">Password</small>
                <input type="password" class="form-control" id="password" placeholder="Enter password..." required
                       name="password">
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-outline-dark btn-sx" value="Log in"/>
            </div>

            <div class="form-group">
                <a class="nav-link active" style="font-size:15px; padding: 0px;"
                   href="{{ url_for('register_agent') }}">Don't you have an
                    account?</a>
                <a class="nav-link active" style="font-size:15px; padding: 0px;"
                   href="{{ url_for('reset_password')}}">Forgot password?</a>
            </div>
        </form>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}
</html>