<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html>
<title>Houses prediction website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="{{ url_for('main') }}" class="navbar-brand">
        <img src="images/logo.svg" height="28" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('main') }}">Home </a>
        <a class="nav-item nav-link" href="{{ url_for('main') }}#about">About</a>
        <a class="nav-item nav-link" href="{{ url_for('main') }}#predictions">Predictions</a>
        <a class="nav-item nav-link" href="{{ url_for('main') }}#contact">Contact</a>

        </div>
        <div class="navbar-nav ml-auto">
      <li class="nav-item nav-link"><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> For agents</a></li>
        </div>
    </div>
</nav>
	<section id="content">
		<form id="form_content" action="/register_agent_check" method="post">
			<h1 >Registration </h1>
			{% if result== 'error'%}<p style="color: #f6f7ff">Error occured while creating the account. Try again</p>
			{% endif %}

				<input type="text" placeholder="Mail" required name="email" id="mail" />
			<p></p>
				<input type="password" placeholder="Password" required  name="password" id="password" />
			<p></p>
            	<input type="password" placeholder="Confirm password" required  name="passwordCon" id="passwordCon" />
<p><div id="divCheckPasswordMatch"></div></p>
                <input type="text" placeholder="Token" required  name="token" id="token" />
<p></p>
				<input type="submit" id="sub_btn" class="btn btn-outline-info" value="Log in"/>
				<p></p>

		</form><!-- form -->
		
	</section><!-- content -->

<script type="text/javascript">
    function checkPasswordMatch() {
    var password = $("#password").val();
    var confirmPassword = $("#passwordCon").val();

    if (password != confirmPassword){
        $("#divCheckPasswordMatch").html("Passwords do not match!");
        $("sub_btn").disabled  = true;}
    else{
        $("#divCheckPasswordMatch").html("Passwords match.");
            $("sub_btn").disabled = false;
    }
}
$(document).ready(function () {
   $("#password, #passwordCon").keyup(checkPasswordMatch);
});
</script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>
